#!/bin/bash

# make aliases sudo-able
alias sudo="sudo "

# Actions
alias 777='chmod 777'
alias updatez='source ~/.zshrc'

# Edit
alias edita='code ~/.aliases'
alias editz='code ~/.zshrc'
alias editg='code ~/.gitconfig'
alias editf='code ~/.functions'
alias edits='code ~/.ssh/config'
alias edith='code /etc/hosts'


# Go to
alias gos='cd ~/.ssh/'

# git shortcuts
alias g='git $1'
alias dbranch='git branch --merged | grep -v \* | xargs git branch -D'

# ls aliases
alias ll="ls -lha"
alias ls='ls -FG'

# File manager
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias perms="stat -c '%a - %n'"


# recursively delete .DS_Store
alias dsstore="find . -name '*.DS_Store' -type f -ls -delete"

# php
alias artisan='php artisan $1'
